<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bnrgaming-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://bnrgaming-001-site1.itempurl.com:8172/msdeploy.axd?site=bnrgaming-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bnrgaming-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\bnrgaming-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db_a19aa3_bnrweb" Order="1" Enabled="False">
          <Destination Path="Data Source=MYSQL5018.myASP.NET;Initial Catalog=db_a19aa3_bnrweb;User ID=a19aa3_bnrweb;Password=Monk3yBl4ndBug" Name="Server=MYSQL5018.myASP.NET;Database=db_a19aa3_bnrweb;Uid=a19aa3_bnrweb;Pwd=Monk3yBl4ndBug" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BNR_Website.DAL.Repositories.BNRContext, BNR_Website.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <File Include="fonts/fontawesome-webfont.eot">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="fonts/fontawesome-webfont.svg">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="fonts/fontawesome-webfont.ttf">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="fonts/fontawesome-webfont.woff">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="fonts/fontawesome-webfont.woff2">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="fonts/FontAwesome.otf">
      <publishTime>02/26/2017 19:19:14</publishTime>
    </File>
    <File Include="Scripts/app-bundle.js">
      <publishTime>02/22/2017 22:44:48</publishTime>
    </File>
    <File Include="Scripts/app-bundle.js.map">
      <publishTime>02/22/2017 22:44:48</publishTime>
    </File>
    <File Include="Scripts/vendor-bundle.js">
      <publishTime>02/22/2017 22:44:48</publishTime>
    </File>
    <File Include="styles/app.css">
      <publishTime>02/22/2017 22:44:48</publishTime>
    </File>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="db_a19aa3_bnrweb-Web.config Connection String">
      <ParameterValue>Server=MYSQL5018.myASP.NET;Database=db_a19aa3_bnrweb;Uid=a19aa3_bnrweb;Pwd=Monk3yBl4ndBug</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="db_a19aa3_bnrweb-Web.config Connection String">
      <ParameterValue>Server=MYSQL5018.myASP.NET;Database=db_a19aa3_bnrweb;Uid=a19aa3_bnrweb;Pwd=Monk3yBl4ndBug</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="db_a19aa3_bnrweb-Web.config Connection String">
      <ParameterValue>"Server=MYSQL5018.myASP.NET;Database=db_a19aa3_bnrweb;Uid=a19aa3_bnrweb;Pwd=Monk3yBl4ndBug"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="db_a19aa3_bnrweb-Web.config Connection String">
      <ParameterValue>server=localhost;user id=root;database=bnrwebsite;password=password</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>