<template>
  <div class="row">
    <div class="small-12 column">
      <h3>
        Welcome to the Brotherhood of the Nefariously Righteous website.
      </h3>
    </div>

    <div class="small-6 column">
      <p>
        Here you will find everything you need for navigating and participating here in the BNR house.
      </p>

      <!--<p>
        Before you hop directly to our forum or look at the server info, we suggest you <a href="/#/register">register</a> here and go read our <a href="/#/server-info">FAQ & Rules</a>.
      </p>-->
      <p>
        While our forum and registration page are under construction check out our <a href="/#/server-info">FAQ & Rules</a>.
      </p>
    </div>
    <div class="small-6 column">
      <div class="slideShow">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=400&h=300" />
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=400&h=300" />
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=400&h=300" />
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=400&h=300" />
      </div>
    </div>
    <div class="small-12 columm">
      Small add.
    </div>

  </div>
</template>