<template>
  <div class="row column">
    <div class="small-12 column">
      <h3>
        Welcome to the Brotherhood of the Nefariously Righteous website.
      </h3>
    </div>
    <div class="row column">
      <div class="small-12 medium-12 large-6 column">
        <p>
          Here you will find everything you need for navigating and participating here in the BNR house. Our website is still under construction so pelase be patient many of the features which will help you are on their way. For example in the future we will have a forum system, a ticket system(a way for you to request help when Arma kills your helicopter :D) and much more.
        </p>
        <p>
          If you have any ideas that you think we may not have thought of let an admin know. We are and will always be willing to do anything we can to make BNR and our services more awesome!
        </p>

        <!--<p>
      Before you hop directly to our forum or look at the server info, we suggest you <a href="/#/register">register</a> here and go read our <a href="/#/server-info">FAQ & Rules</a>.
    </p>-->
        <p>
          While our forum and registration page are under construction check out our <a href="/#/server-info">FAQ & Rules</a> or check out some screenshots of our shenanigans!
        </p>
      </div>
      <div class="small-12 medium-12 large-6 column">
        <div class="slideShow">
          <img src="../../../../images/image3.jpg" />
          <img src="../../../../images/image4.jpg" />
          <img src="../../../../images/image5.jpg" />
          <img src="../../../../images/image6.jpg" />
          <img src="../../../../images/image7.jpg" />
          <img src="../../../../images/image8.jpg" />
        </div>
      </div>
    </div>
   </div>
</template>