<template>
    <div class="row">
        <h4>
            Welcome to the Brotherhood of the Nefariously Righteous website.
        </h4>
        <p>
            Hello! Thanks for visiting the Brotherhood Of the Nefariously Righteous website. We hope you can find what you need. If not hop into our teamspeak. Our website is still under development and some of our upcoming features like a ticket system are not yet implemented.
        </p>
        <p>
            If you are here because you play on our Arma 3 Exile server see our <a href="#/server-info">Server Info &#38; Rules</a> page. Also, feel free to register or log in above. It will be much easier for us to contact you and solve any problems you may have if you are registered on our site. 
        </p>
        <p>
            Again thank you so much for visiting our page. Look around and let us know if you have any feature requests or if you're having trouble finding any information you need. 
        </p>
        <p>
            Bacon ipsum dolor amet landjaeger filet mignon tail short ribs, burgdoggen sirloin alcatra meatloaf. Sausage prosciutto short ribs tail, boudin ribeye shoulder pig kevin bresaola doner shank tenderloin pork loin pancetta. Ham andouille capicola turducken drumstick. Landjaeger salami beef ribs drumstick boudin picanha swine shank porchetta jerky filet mignon sirloin pork loin fatback spare ribs.
        </p>
        <p>
            Swine pork belly drumstick, pastrami pork chop sirloin boudin chicken picanha jowl kevin ham ball tip venison alcatra. Shankle porchetta alcatra landjaeger, brisket pork chop chicken swine tongue venison prosciutto meatloaf. Turkey pork tri-tip, ball tip brisket flank t-bone. Tenderloin shankle cow, kevin shoulder pork belly strip steak drumstick brisket. Kielbasa brisket sausage tail. Turkey sirloin alcatra pork.
        </p>
        <p>
            Shank t-bone ham pork beef ribs brisket. Tenderloin beef chuck shank pig shankle. Picanha landjaeger pig biltong, spare ribs brisket pastrami kevin strip steak tenderloin ham ball tip ribeye. Boudin filet mignon sirloin, shank drumstick tail shoulder cupim pig pork belly burgdoggen ribeye. Kevin cow doner kielbasa burgdoggen shankle venison, sausage short ribs pastrami shoulder ball tip.
        </p>
        <p>
            Pig chicken turducken tri-tip. Bacon pork loin jerky leberkas hamburger sirloin salami andouille shankle picanha. Tenderloin ham hock salami, beef pig drumstick porchetta andouille landjaeger ball tip pork. Ball tip turducken pig cupim tri-tip tenderloin, kevin rump bresaola brisket pork loin pancetta pork belly.
        </p>
        <p>
            Sirloin pork loin drumstick pork. Jowl pastrami drumstick, beef ribs picanha chuck ham ball tip cupim pork belly tail turducken biltong brisket pork. Sausage turducken jowl short ribs biltong. Venison shank biltong, brisket leberkas jowl pork loin alcatra landjaeger corned beef strip steak burgdoggen porchetta tri-tip. Bacon strip steak jowl ball tip, picanha pastrami brisket leberkas. Pork loin chicken shoulder jowl corned beef, doner strip steak sausage.
        </p>
        
    </div>
</template>