<template>
  <div class="row column">
    <div class="margin-top">
      <div>
        <strong>Brotherhood</strong>
        <p>
          <span class="help-text"> - An association, society, or community of people linked by a common interest.</span>
        </p>
        <p>
          We are a group of gaming brothers who have been playing different games for many years, some of us are newer to the group than others, but the time we’ve spent together gaming has given us a bond that makes us brothers.  One thing that separates us from many of the other gaming communities is that we all have families, we work to provide for our families and so gaming isn’t our profession, or what we want to make into a profession.  Gaming is our passion, and our pleasure, but because it is a hobby we tend to look at gaming more maturely than others.  Of course this doesn’t mean we are a bunch of “sticks in the mud”, we are all about having respectable fun.
        </p>
      </div>

      <div class="margin-top">
        <strong>Nefariously</strong>
        <p>
          <span class="help-text"> - Infamous by way of being extremely wicked.</span>
        </p>
        <p>
          If you have seen us around in any of the games we represent on this site; you may have noticed that many, if not all, love to PvP.  Going out there and reaping havoc wherever we go is a style of gaming we thoroughly enjoy.  We are never against hunting down people, putting people on a -Clan Wide- K.O.S (kill on sight) list, and hunting them down just for the pleasure of hunting.  You won’t see us ever second guessing ourselves on either letting someone live, or just saying the hell with it and all firing a barrage of death and destruction in their general direction.  Yes our Clan has been titled as “bloodthirsty”, or “overly aggressive”, but that is just who we are.
        </p>
      </div>

      <div class="margin-top">
        <strong>Righteous</strong>
        <p>
          <span class="help-text"> - Acting in an upright, moral way; virtuous.</span>
        </p>
        <p>
          In the wake of all the destruction we reap; we cannot tolerate other players abusing the weak, or the less “talented” gamers.  We won’t sit there and belittle you if we kill you, and if you kill us; it will always be accompanied by a “gg” or a likewise respectable congratulatory phrase.  You will also see us being very generous with help, befriending those whom we’ve slaughtered, and standing up for the “little guy”.  In fact most of our clan mates have come about from any of those instances and when they join they join our brotherhood they are expected to extend the same courtesies to other players.  Our motto is: “Give us a little respect, and we will give a ton of respect back.”
        </p>
      </div>

      <div class="margin-top">
        <strong>Origins</strong>
        <p>
          The origins of BNR is a double edged sword, if you join you will get to hear the full story, but since we aren’t here to tell the whole story, we will just tell you that this Clan was formed about a year ago in Tom Clancy’s the Division.  The three founders, BNR_Daishi, BNR_Corpsmanvet, and BNR_Snake (who unfortunately is no longer gaming with us) formed a 3 man Clan called BNR because of what someone called us.  The name was a label forced on us and it stuck.  Over the next year we joined up with BNR_Holyfirexx, his wife Ms.Holy, BNR_Trigger, BNR_Tapona, BNR_USA, FilthyMcFuckstick, ThatSickFilth, BNR_Inigo, and others.  Most of our presence is on Arma 3, but we still have Clan Members faithfully playing other games.  Recently we decided to officially name ourselves the Brotherhood of the Nefariously Righteous, to better proclaim who we are.
        </p>
      </div>

      <div class="margin-top">
        <strong>Games we play</strong>
        <p>
          In BNR we are a community and play multiple games.  Just to name a few:  The Division, Arma 3 Exile and Epoch, ARK, 7 Days to die, The forest, Ghost Recon: Wild Lands, Battlefield 1, Summoners War, and many more will be added to the list.
        </p>
        <p>
          We invite you to apply for the Clan and come join us wherever we have a presence.
        </p>
      </div>

      <div>
        We welcome you and hope to see you join our Brotherhood.
      </div>
      
      <!--<div class="margin-top">
        <h3>Let me introduce you to your admins:</h3>
        <div repeat.for="user of users" class="column small-12 medium-6">
          <div class="column small-12 large-6 min-height">
            <img src="http://placehold.it/175x250?text=Profile+Image" alt="User image" />
            <h5>${user.Name}</h5>
            <span class="help-text">${user.Rank}</span>
            <p>${user.Description}</p>
          </div>
        </div>
      </div>-->
      
    </div>
  </div>
</template>