<template>
    <div>
            <h1>Let me introduce you to your admins:</h1>
        <div class="row column">
            <div repeat.for="user of users" class="column small-12 medium-6">
                <div class="column small-12 large-6 min-height">
                    <img src="http://placehold.it/175x250?text=Profile+Image" alt="User image" />
                    <h5>${user.Name}</h5>
                    <span class="help-text">${user.Rank}</span>
                    <p>${user.Description}</p>
                </div>
            </div>
        </div>
    </div>
</template>