<template>
    <footer>
        <div class="footer-container">
            <div class="row">
                <div class="small-11 columns">
                    <ul>
                        <li>
                            Link to facebook page
                        </li>
                        <li>
                            Link to gametracker page?
                        </li>
                        <li>
                            Paypal donations page
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     
    </footer> 
</template>
