<template>
    <footer>
        <div class="footer-container">
            <div class="row">
                <div class="small-11 columns">
                    <ul>
                        <li>
                            He Man Woman Haters Club
                        </li>
                        <li>
                            Brony club link here
                        </li>
                        <li>
                            Donations link here to my personal bank account
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     
    </footer> 
</template>
