<template bindable="router">
    <div class="navigation">
        <ul class="">
            <li repeat.for="row of router.navigation" class="nav-bar-left ${row.isActive ? 'active' : ''}">
                <a href.bind="row.href" i18n.bind="row.settings.i18n">
                    ${row.title}
                </a>
            </li>
            <li class="nav-bar-right"><a>Profile</a></li>
            <li class="nav-bar-right"><a>Login</a></li>
        </ul>
    </div>
    <loading-indicator loading.bind="router.isNavigating" || api.isRequesting></loading-indicator>
</template>
