<template bindable="router">
    <div class="top-bar">
        <daiv class="top-bar-title">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon title-img-text-wrap" type="button" data-toggle></button>
            </span>

            <img class="title-img-text-wrap" src="" alt="Clan Logo" width="50" height="50" />
            <strong>
                BNR Clan Page
            </strong>

        </daiv>
        <div id="responsive-menu">
            <div class="top-bar-left">
                <ul class="menu horizontal">
                    <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                        <a href.bind="row.href" i18n.bind="row.settings.i18n">
                            <i class="${row.settings.font}"></i>
                            ${row.title}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <loading-indicator loading.bind="router.isNavigating" || api.isRequesting></loading-indicator>
</template>
