/*	--------------------------------------------------
	:: APP MAIN LAYOUT
	-------------------------------------------------- 
*/

html, body {
  margin:0;
  padding:0;
  height: 100%;  
}


#wrapper{
    min-height:100%;
    position:relative;
}

#header{

}

#content {
    padding-bottom:100px;  //this value must be the same as height in #footer
}

#footer {
	width:100%;
	height:100px;         //this value must be the same as padding-bottem in #content
	position:absolute;
	bottom:0;
	left:0;

    background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

/* App Layout Specifics*/

body{
  color: white;
  background-color:black;
  background-position: center;
  background-repeat: repeat-y;
  background-image: url("../../images/Background.png");
}

header{
    /*padding: 0 .9375em;
    border-bottom: 10px solid #fff;
    border-bottom: .625rem solid #fff;*/
}

header .container {
    margin: 0 auto;
    max-width: 75em;
    min-height: 5rem;
    /*padding-top: 1.5em;*/
    position: relative;
}

.banner {
  background-position: center;
  /*width: 100%;*/
  background-repeat: no-repeat;
  background-image: url("../../images/Banner.png");
  /*padding-bottom:1.5em;*/
  height: 315px;

}

.top-nav-container{
    /*margin-top:30px;*/
}

.content-container{
    margin: 0 auto;
    max-width: 75em;
    min-height: 5rem;
    padding-top: 1.5em;
    position: relative;
}

footer{
    margin-top:0;
}

.footer-container {
  border-top: .625em;
  background-color:transparent;
}

/*	--------------------------------------------------
	:: Display Size Scaling
	-------------------------------------------------- 
*/
@media only screen and (min-width:75em) {
    .row {
        max-width: 79.875em;
    }

        .row .row {
            margin-left: -2.4375rem;
            margin-right: -2.4375rem;
        }

    .column, .columns {
        padding-left: 2.4375rem;
        padding-right: 2.4375rem;
    }

    .row.small-margins {
        max-width: 76.875em;
    }

        .row .row.small-margins, .row.small-margins .row {
            margin-left: -.9375rem;
            margin-right: -.9375rem;
        }

        .row.small-margins .column, .row.small-margins .columns {
            padding-left: .9375rem;
            padding-right: .9375rem;
        }
}

/*	--------------------------------------------------
	:: MORE USELESS CSS THAT TRAVIS WROTE... BETTER CALL MARTIN
	-------------------------------------------------- 
*/

.margin-top{
  margin-top:2.5em;
}
form {
  color: white;
}

label {
  color: white;
}

.help-text {
  color: white;
}

.red {
  color: red;
}
.background-gray {
  background: rgba(0, 0, 0, 0.75);
  color: lightgray;
  border-radius: .5em;
}
/*commented this part out cuz idk dik what your targeting */
/*.min-height {
  @media (min-width: 600px) {
    min-height: 20em;
  }
}*/



/*	--------------------------------------------------
	:: NAV BAR
	-------------------------------------------------- 
*/
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .25);
}

.navigation-li {
  display: inline;
  color: white;
}

.navigation-li:hover {
  border-bottom-color: white;
  border-bottom-style: solid;
  color: white;
}

.navigation-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navigation-a:hover, .navigation-a:active, .navigation-a:focus {
  color: white;
}

.active {
  border-bottom-color: white;
  border-bottom-style: solid;
}

.active:hover {
  color: white;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  float: right;
}

/*	--------------------------------------------------
	:: IMAGE SLIDER
	-------------------------------------------------- 
*/
.w3-left, .w3-right, .w3-badge {
  cursor: pointer
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0
}

