<template>
    <div class="row">
        <div class="small-3 column">
          BNR_Arma 3 server info + tracker.
          <iframe src="http://cache.gametracker.com/components/html0/?host=1.1.1.1:2312&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe>
        </div>
      <div class="small-3 column">
        BNR_Teamspeak info + tracker.
        <iframe src="http://cache.gametracker.com/components/html0/?host=vs34.tserverhq.com:7113&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=0&currentPlayersHeight=160&showCurrPlayers=1&showTopPlayers=0&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="348"></iframe>  
      </div>
        <div class="small-6 column">
            <p>
                Our server is not for the weak of heart. We are all in it to have fun, sometimes that includes getting killed, losing all your stuff, and having to walk 5km to a trader, and dying on the way. That's all part of the fun.
            </p>
            <p>
                However, while we understand the above, we also realize that sometimes Arma can destroy everything you've worked for. Far more efficiently than the friends and foes you face in our server. When that happens we are happy to help, within reason.
            </p>
            <p>
                If you follow the rules below and play with sportsmanship than we will all have great time. If you can't do that, then you will be banned. 
            </p>
            <ul>
                <li>
                    No glitching, hacking, or anything outside normal game abilities, under any circumstances. If someone kills you, cheats you, glitches in to your base, this rule STILL applies. Report them to the admins.
                </li>
                <li>
                    Safe Zone Rules:
                    <ul>
                        <li>
                            No killing in the safe zone.
                        </li>
                        <li>
                            No retreating into the safe zone under fire. If you are able to strategically retreat into the safe zone cool.
                        </li>
                        <li>
                            No stealing vehicles or gear in the safe zone. If someone dies in the safe zone no looting.
                        </li>
                    </ul>
                </li>
                <li>
                    No bases within TBA of safe zones. 
                </li>
                <li>
                    Other TBA rules. 
                </li>
            </ul>


        </div>

    </div>
</template>